title: Config reference
type: Type
default: Default
required: Required
example: Example
options:
  botToken:
    type: string
    default: '"your bot token"'
    required: true
  chats[]:
    default:
      - name: '"global"'
        isDefault: true
        chatId: 0
        minecraftFormat: '"<aqua>\\<<sender>></aqua> <text>"'
        telegramFormat: '"<b>[<username>]</b> <text>"'
  chats[].name:
    type: string
    required: true
  chats[].isDefault:
    type: boolean
    default: false
  chats[].chatId:
    type: number
    kotlin_type: Long
    required: true
  chats[].topicId:
    type: number | null
    default: null
  chats[].minecraftFormat:
    type: string
    description: Format for Telegram -> Minecraft messages. Uses MiniMessage formatting.
    default: '"<aqua>\\<<sender>></aqua> <text>"'
  chats[].telegramFormat:
    type: string
    description: Format for Minecraft -> Telegram messages. Uses MiniMessage formatting.
    default: '"<b>[<username>]</b> <text>"'

  messages.requirePrefixInMinecraft:
    type: string | null
    default: null (disabled)
    example: '"!" (quotes are required)'
    description: |
      ::: warning
      Don't enable this if you have a chat plugin installed.
      See [Compatibility](https://tgbridge.vanutp.dev/en/compatibility#chat) for more info
      :::
      If this value is set, messages without specified prefix won't be forwarded to Telegram.
  messages.keepPrefix:
    type: boolean
    default: false
    description: |
      Set to `true` to keep the prefix specified in the above setting in the message
  messages.mergeWindow:
    type: number
    default: 0 (disabled)
    description: |
      Chat messages sent within the specified interval will be merged in one.
      The value is specified in seconds
  messages.useRealUsername:
    type: boolean
    default: false
    description: |
      Set to `true` to use real player username instead of display name in all Telegram messages

  integrations.bluemapUrl:
    type: string | null
    default: null (disabled)
    example: https://map.example.com
    description: |
      If this value is set, waypoints shared from Xaero's Minimap/World Map will be rendered
      as links to a specified BlueMap instance.
  integrations.incompatiblePluginChatPrefix:
    type: string | null
    default: null (disabled)
    example: '"!" (quotes are required)'
    description: |
      See also: [Compatibility](https://tgbridge.vanutp.dev/en/compatibility#chat)
      
      Use this if you have an incompatible plugin, such as CMI or AdvancedChat installed.
      Will register a legacy chat listener with LOWEST priority (HIGHEST on Forge/NeoForge)
      and only forward messages that start with the specified string.
      Currently this only has an effect on Paper and Forge/NeoForge.

  events.advancementMessages.enable:
    type: boolean
    default: true
  events.advancementMessages.enableTask:
    type: boolean
    default: true
    description: |
      Configure forwarding of each advancement type
  events.advancementMessages.enableGoal:
    type: boolean
    default: true
    description: |
      Configure forwarding of each advancement type
  events.advancementMessages.enableChallenge:
    type: boolean
    default: true
    description: |
      Configure forwarding of each advancement type
  events.advancementMessages.showDescription:
    type: boolean
    default: true
    description: |
      Include advancement descriptions in Telegram messages
  events.enableDeathMessages:
    type: boolean
    default: true
  events.enableJoinMessages:
    type: boolean
    default: true
  events.enableLeaveMessages:
    type: boolean
    default: true
  events.leaveJoinMergeWindow:
    type: number
    default: 0 (disabled)
    description: |
      If a player leaves and then joins within the specified time interval,
      the leave and join messages will be deleted.
      This is useful when players frequently re-join, for example because of connection problems.
      Only has effect when both enableJoinMessages and enableLeaveMessages are set to true.
      The value is specified in seconds
  events.enableStartMessages:
    type: boolean
    default: true
    description: |
      Whether to send a Telegram message when the server starts
  events.enableStopMessages:
    type: boolean
    default: true
    description: |
      Whether to send a Telegram message when the server stops

  advanced.botApiUrl:
    type: string
    default: '"https://api.telegram.org"'

  advanced.connectionRetry.maxAttempts:
    type: number
    default: 10
    description: |
      Max amount of connection retries. If the value is less than 1 the number of attempts is infinite

  advanced.connectionRetry.initialDelay:
    type: number
    kotlin_type: Long
    default: 1000
    description: |
      Delay before first reconnect attempt in milliseconds

  advanced.connectionRetry.maxDelay:
    type: number
    kotlin_type: Long
    default: 300000
    description: |
      Maximum delay between reconnection attempts in milliseconds

  version:
    type: number
    default: 1
    description: |
      Config file version. Don't change manually
